/_DeserializerDEV/
/adfActivityRunDeserializer/bin/
/adfActivityRunDeserializer/obj/
/adfPipelineRunDeserializer/bin/
/adfPipelineRunDeserializer/obj/
/adfTriggerRunDeserializer/bin/
/adfTriggerRunDeserializer/obj/
/LocalRunOutputs/